In [17]:
csvFilePath = "OlympicMedals.csv"
import pandas as pd

df = pd.read_csv(csvFilePath)
type(df)

pandas.core.frame.DataFrame

In [21]:
df.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [23]:
import random
'''
Indexing using square brackets
pd[column][row]
'''

df['Sport'][random.randint(0, 29215)]

'Handball'

In [24]:
'''
Using column attribute and row label
'''
df.Sport[random.randint(0,2915)]

'Rowing'

In [27]:
'''
More efficient and PROGRAMMATIC way to access data in a df 
is by using Accessor
'''

#includes .loc and .iloc
#.loc uses labels .iloc uses index positions
#[row, column]
rand = random.randint(0,2915)

df.loc[rand, 'Sport']

'Cricket'

In [28]:
print(rand)

318

In [29]:
#same search using iloc
df.iloc[318, 3]

'Cricket'

In [33]:
df.loc[rand, 'Sport'] == df.iloc[318, 3] #confirms the searches are the same

True

In [36]:
'''
When using bracket-indexing sans .loc or .iloc accessors
The returned object may be:
    a. Individual Value
    b. Pandas Series
    c. Pandas DataFrame
    
To ENSURE the return value is a DataFrame use a nested list within square brackets'''
#df[column, column] #subselect a dataframe with these x columns only
df_new = df[['City', 'Sport']] #note this is a nested list. df_new should be a DataFrame
type(df_new)

pandas.core.frame.DataFrame

In [39]:
"""
Excercise 1
Positional and labeled indexing
Given a pair of label-based indices, sometimes it's necessary to find the corresponding positions. 
In this exercise, you will use the Pennsylvania election results again. The DataFrame is provided 
for you as election.

Find x and y such that election.iloc[x, y] == election.loc['Bedford', 'winner']. 
That is, what is the row position of 'Bedford', and the column position of 'winner'? 
Remember that the first position in Python is 0, not 1!

To answer this question, first explore the DataFrame using election.head() in the IPython Shell 
and inspect it with your eyes.

This course introduces a lot of new concepts, so if you ever need a quick refresher, 
download the Pandas Cheat Sheet and keep it handy!
"""
newCSV = "pennsylvania2012_turnout.csv"
election = pd.read_csv(newCSV, index_col = "county")
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [58]:
# Assign the row position of election.loc['Bedford']: x
x = election.index.get_loc('Bedford')
#I think the assignment literally wanted me to assign an int to x. "x = 4"
#I chose against this because there had to be a way to programmatically find any int value
#given an index or a column arg. Found it. NS

# Assign the column position of election['winner']: y
y = election.columns.get_loc('winner')

#print(df.index.get_loc('Bedford'))
#print(df.columns.get_loc('winner'))

#curious - what are the resulting types of x and y?
print('x: ', type(x), '\n', 'y: ', type(y))
#confirms they are both int class

# Print the boolean equivalence
print(election.iloc[x, y] == election.loc['Bedford', 'winner'])

x:  <class 'int'>
 y:  <class 'int'>
True

In [59]:
'''
Exercise 2
Indexing and column rearrangement
There are circumstances in which it's useful to modify the order of your DataFrame columns. 
We do that now by extracting just two columns from the Pennsylvania election results DataFrame.

Your job is to read the CSV file and set the index to 'county'. You'll then assign a new DataFrame 
by selecting the list of columns ['winner', 'total', 'voters']. The CSV file is provided to you in 
the variable filename.
'''

"\nExercise 2\nIndexing and column rearrangement\nThere are circumstances in which it's useful to modify the order of your DataFrame columns. \nWe do that now by extracting just two columns from the Pennsylvania election results DataFrame.\n\nYour job is to read the CSV file and set the index to 'county'. You'll then assign a new DataFrame \nby selecting the list of columns ['winner', 'total', 'voters']. The CSV file is provided to you in \nthe variable filename.\n"

In [60]:
filename = "pennsylvania2012_turnout.csv"

# Import pandas
import pandas as pd

# Read in filename and set the index: election
election = pd.read_csv(filename, index_col='county')

# Create a separate dataframe with the columns ['winner', 'total', 'voters']: results
colList = ['winner', 'total', 'voters']
#df[column, column] #subselect a dataframe with these x columns only
results = election[colList]

# Print the output of results.head()
print(results.head())

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

In [62]:
'''
Video - Slicing DataFrames

'''
#Selecting a column
df['column'] results in a series
a Pandas Series is a one-dimensional array with a labeled index
(like a hybrid between a Numpy array and a dict)

A dataframe is a 2darray with Series for columns sharing common row labels ** need to comprehend this

#slicing and indexing a Series
slicing can be performed with or without accesors
use the colon for positional slicing 
df['eggs'][1:4] #part of the eggs column

df['eggs'][4] #value associated with the 5th row or "May" as explained in video

#Pandas extends this colon syntex to allow labels in slices
df.loc[:, 'eggs':'salt'] #first colon selects ALL rows, then SOME columns

df.loc['Jan':'Apr', :] # SOME rows, ALL columns

#.iloc and .loc can use lists in place of slices
df.loc['Jan':'May', ['eggs', 'spam']] #has a list of two columns
df.iloc[[0,4,5], 0:2] #has a list of 3 rows

#ATTENTION:
df['eggs'] yields a series
df[['eggs']] yields a DataFrame with a single column

'\nVideo - Slicing DataFrames\n\n'

In [64]:
'''
Exercise 3
Slicing rows
The Pennsylvania US election results data set that you have been using so far is ordered by county 
name. This means that county names can be sliced alphabetically. In this exercise, you're going to 
perform slicing on the county names of the election DataFrame from the previous exercises, which has 
been pre-loaded for you.

Instructions: 
Slice the row labels 'Perry' to 'Potter' and assign the output to p_counties.

Print the p_counties DataFrame. This has been done for you.

Slice the row labels 'Potter' to 'Perry' in reverse order. To do this for hypothetical row labels 'a'
and 'b', you could use a stepsize of -1 like so: df.loc['b':'a':-1].

Print the p_counties_rev DataFrame. This has also been done for you, so hit 'Submit Answer' to see 
the result of your slicing!
'''
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election['Perry':'Potter']

# Print the p_counties DataFrame
print(p_counties)

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
#can define stepcount 
p_counties_rev = election['Potter':'Perry':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175

                 margin
county
Perry         38.821272
Philadelphia  71.172800
Pike          10.978242
Potter        45.898681
             state   total      Obama     Romney  winner   voters    turnout  \
county
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064

                 margin
county
Potter        45.898681
Pike          10.978242
Philadelphia  71.172800
Perry         38.821272

In [76]:
'''
Excercise 4
Slicing columns
Similar to row slicing, columns can be sliced by value. In this exercise, your job is to slice 
column names from the Pennsylvania election results DataFrame using .loc[].

It has been pre-loaded for you as election, with the index set to 'county'.

Instructions:
Slice the columns from the starting column to 'Obama' and assign the result to left_columns

Slice the columns from 'Obama' to 'winner' and assign the result to middle_columns

Slice the columns from 'Romney' to the end and assign the result to right_columns

The code to print the first 5 rows of left_columns, middle_columns, and right_columns has been 
written, so hit 'Submit Answer' to see the results!
'''
# Slice the columns from the starting column to 'Obama': left_columns
#use .loc
left_columns = election.loc[:, :'Obama'] #.loc requires that I always specify 2 args: row and columns
#so without the : for all rows, it wouldn't have run properly

# Print the output of left_columns.head()
print(left_columns.head())


# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:, "Obama":"winner"]

# Print the output of middle_columns.head()
print(middle_columns.head())

# Slice the columns from 'Romney' to the end:'right_columns'
right_columns = election.loc[:, 'Romney':]

# Print the output of right_columns.head()
print(right_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452
               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney
              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

In [77]:
'''
Exercise 5
Subselecting DataFrames with lists
You can use lists to select specific row and column labels with the .loc[] accessor. In this exercise,
your job is to select the counties ['Philadelphia', 'Centre', 'Fulton'] and the columns 
['winner','Obama','Romney'] from the election DataFrame, which has been pre-loaded for you with the 
index set to 'county'.

Instructions:
Create the list of row labels ['Philadelphia', 'Centre', 'Fulton'] and assign it to rows.

Create the list of column labels ['winner', 'Obama', 'Romney'] and assign it to cols.

Create a new DataFrame by selecting with rows and cols in .loc[] and assign it to three_counties.
Print the three_counties DataFrame. This has been done for you, so hit 'Submit Answer` to see your 
new DataFrame.
'''
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner', 'Obama', 'Romney']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows, cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

In [78]:
Video - Filtering DataFrames
filtering is a tool to selection based on properties of interest of the data itself

Boolean Series:
    df.salt > 60
    Asking: "Where in the salt Series is the number of sales recorded greater than 60"
    Series returned has True or False values based on the argument
Boolean series can be applied as a filter
filter is directly applied within the brackets:
    df[df.salt > 60]

filter is assigned to an explainer variable and then applied:
    enough_salt_sold = df.salt > 60
    df[enough_salt_sold]

Filters can be combined.
df[(df.salt >= 50) & (df.eggs < 200)] #both conditions must be met to eval to True
df[(df.salt >= 50) | (df.eggs < 200)] #either can be met to eval to True

Filtering out zeros or NaN in DataFrames
Ask: 'Which columns have all non-zero values'
    df2.loc[:, df2.all()] #excludes any columns with zeros

Ask: 'Which column have any non-zero entries'
    df2.loc[:, df2.any()] #will filter out columns where the entire column is filled with zeros or NaN
    In video, there were no zero columns, so all of df2 was returned
    
Ask: 'Which column have any NaNs'
    df.loc[:, df.isnull().any()] #returns any column that has a NaN value
    There is also a .notnull(), mentioned in video
    
Ask: 'Which column has no NaN value (all data is present)'
    df.loc[:, df.notnull().all()]
    
Drop rows with any NaNs

df.dropna(how='any') drops a row if any of its value is NaN
df.dropna(how='all') drops a row of ALL of its values is NaN

Filtering a column based on another
df.eggs[df.salt > 55] #select egg sales for months when salt sales are over 55
#The result is a Series subselected from the eggs column

Modifying a column based on another
df.eggs[df.salt > 55] += 5
modifies the eggs column based on the salt filter

SyntaxError: invalid syntax (<ipython-input-78-0a9a4001bd8d>, line 1)

In [81]:
'''
Exercise 6
Thresholding data
In this exercise, we have provided the Pennsylvania election results and included a column called 
'turnout' that contains the percentage of voter turnout per county. Your job is to prepare a boolean 
array to select all of the rows and columns where voter turnout exceeded 70%.

As before, the DataFrame is available to you as election with the index set to 'county'.

Instructions: 
Create a boolean array of the condition where the 'turnout' column is greater than 70 and assign it 
to high_turnout.

Filter the election DataFrame with the high_turnout array and assign it to high_turnout_df.

Print the filtered DataFrame. This has been done for you, so hit 'Submit Answer' to see it!
'''
# Create the boolean array: high_turnout
high_turnout = election.turnout > 70 

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df)

             state   total      Obama     Romney  winner  voters    turnout  \
county
Bucks           PA  319407  49.966970  48.801686   Obama  435606  73.324748
Butler          PA   88924  31.920516  66.816607  Romney  122762  72.436096
Chester         PA  248295  49.228539  49.650617  Romney  337822  73.498766
Forest          PA    2308  38.734835  59.835355  Romney    3232  71.410891
Franklin        PA   62802  30.110506  68.583803  Romney   87406  71.850903
Montgomery      PA  401787  56.637223  42.286834   Obama  551105  72.905708
Westmoreland    PA  168709  37.567646  61.306154  Romney  238006  70.884347

                 margin
county
Bucks          1.165284
Butler        34.896091
Chester        0.422079
Forest        21.100520
Franklin      38.473297
Montgomery    14.350390
Westmoreland  23.738508

In [110]:
'''
Exercise 7
Filtering columns using other columns
The election results DataFrame has a column labeled 'margin' which expresses the number of extra votes
the winner received over the losing candidate. This number is given as a percentage of the total votes
cast. It is reasonable to assume that in counties where this margin was less than 1%, the results 
would be too-close-to-call.

Your job is to use boolean selection to filter the rows where the margin was less than 1. You'll then 
convert these rows of the 'winner' column to np.nan to indicate that these results are too close to 
declare a winner.

The DataFrame has been pre-loaded for you as election.

Instructions:
Import numpy as np.

Create a boolean array for the condition where the 'margin' column is less than 1 and assign it to 
too_close.

Convert the entries in the 'winner' column where the result was too close to call to np.nan.

Print the output of election.info(). This has been done for you, so hit 'Submit Answer' to see the 
results.
'''
# Import numpy
import numpy as np
election = pd.read_csv(filename, index_col='county')
election1 = election.copy()
# Create the boolean array: too_close
too_close = election.margin < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election1.loc[too_close, 'winner']= np.nan #filter by too_close, then assign np.nan to winner column
#.loc[filter, assignment col] this took forever to understand!

# Print the output of election.info()

print(election1.info()) #winner changes from 67 to 64 non-null
print(election1[too_close]) #confirms NaN written to winner based on filter

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 4.7+ KB
None
        state   total      Obama     Romney winner  voters    turnout  \
county
Berks      PA  163253  48.939376  49.528646    NaN  250356  65.208343
Centre     PA   68801  48.948416  48.977486    NaN  112949  60.913333
Chester    PA  248295  49.228539  49.650617    NaN  337822  73.498766

           margin
county
Berks    0.589269
Centre   0.029069
Chester  0.422079

In [126]:
'''
Exercise 8
Filtering using NaNs
In certain scenarios, it may be necessary to remove rows and columns with missing data from a 
DataFrame. The .dropna() method is used to perform this action. You'll now practice using this 
method on a dataset obtained from Vanderbilt University, which consists of data from passengers on 
the Titanic.

The DataFrame has been pre-loaded for you as titanic. Explore it in the IPython Shell and you will 
note that there are many NaNs. You will focus specifically on the 'age' and 'cabin' columns in this 
exercise. Your job is to use .dropna() to remove rows where any of these two columns contains missing 
data and rows where all of these two columns contain missing data.

You'll also use the .shape attribute, which returns the number of rows and columns in a tuple from a 
DataFrame, or the number of rows from a Series, to see the effect of dropping missing values from a
DataFrame.

Finally, you'll use the thresh= keyword argument to drop columns from the full dataset that have less 
than 1000 non-missing values.


Instructions:
Select the 'age' and 'cabin' columns of titanic and create a new DataFrame df. x

Print the shape of df. This has been done for you. x

Drop rows in df with how='any' and print the shape.

Drop rows in df with how='all' and print the shape.

Drop columns from the titanic DataFrame that have less than 1000 non-missing values by specifying the 
thresh and axis keyword arguments. Print the output of .info() from this.
'''

csv = "titanic.csv"
titanic = pd.read_csv(csv)
testNaN = titanic.loc[:, titanic.isnull().any()]
testNaN #1309! Got some wranglin' do partner!
titanic.iloc[0, :]
df = titanic[['age', 'cabin']] #two [[]] results in a DataFrame!

df.shape

print(df.dropna(how='any').shape) # rows were dropped

print(df.dropna(how='all').shape) # rows were dropped

print(titanic.dropna(thresh=1000, axis='columns').info())#columns were dropped when axis was specified
#dropped from 14 columns to 10.

(272, 2)
(1069, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.4+ KB
None

In [127]:
Video - Transforming DataFrames
Best way to transform is via methods INHERENT to DataFrames!
Next best is to use Numpy Universal Functions (ufuncs)
Vectorized functions are applied to every value in DataFrame without writing loops

df.apply(func) executes the function with each entry of the df
can use lambda within df.apply():
    df.apply(lambda n: n // 12 ) will apply a floor div of 12 with each entry of df
    
Computing functions (inherent, numpy vectorized, .apply()) returns a new DataFrame
the original df is NOT altered!

To PRESERVE the newly computed results we can store them in a new column:
    df['dozens_of_eggs'] = df.eggs.floordiv(12)
    new column 'dozens_of_eggs' now stored in df
    

df.str() is a accessor for vectorized string transformations
For the INDEX there is no .apply() method
Index uses .map()

SyntaxError: invalid syntax (<ipython-input-127-40febe195f32>, line 1)

In [129]:
'''
Exercise 9
The .apply() method can be used on a pandas DataFrame to apply an arbitrary Python function to every 
element. In this exercise you'll take daily weather data in Pittsburgh in 2013 obtained from Weather 
Underground.

A function to convert degrees Fahrenheit to degrees Celsius has been written for you. Your job is to 
use the .apply() method to perform this conversion on the 'Mean TemperatureF' and 'Mean Dew PointF' 
columns of the weather DataFrame.

INSTRUCTIONS:
Apply the to_celsius() function over the ['Mean TemperatureF','Mean Dew PointF'] columns of the 
weather DataFrame.

Reassign the column labels of df_celsius to ['Mean TemperatureC','Mean Dew PointC'] using the .columns
attribute.

Hit 'Submit Answer' to see the new DataFrame with the converted units.
'''
csv = "pittsburgh2013.csv"
weather = pd.read_csv(csv)

# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius) 
#note within .apply() didn't need to use the () for the function to_celsius. Why?

# Reassign the column labels of df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head())

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667