In [ ]:
'''
Unit 7.6 Data Wrangling for Capstone 2
Nantawat Samermit 
'''

In [1]:
#import relevant modules for data wrangling - keep on adding as needed
import pandas as pd
import json, requests
import fuzzywuzzy 
import matplotlib

In [ ]:
#ask Luka: Should I just use requests or should I use the API given by the data set manager?
#here is a code snippet from the API doc
#the source is: https://dev.socrata.com/foundry/data.cambridgema.gov/ayt4-g2ye

#from sodapy import Socrates
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.cambridgema.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cambridgema.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#results = client.get("ayt4-g2ye", limit=2000)

# Convert to pandas DataFrame
#results_df = pd.DataFrame.from_records(results)

In [4]:
#Cambridge MA wastewater dataset as JSON
url = 'https://data.cambridgema.gov/resource/ayt4-g2ye.json'

In [5]:
request = requests.get(url)
json_data = request.json()
json_data[0]

{'date': '2020-10-01T00:00:00.000',
 'mwra_concentration': '',
 'mwra_7dayaverage': '31',
 'concentration_mid_cambridge': '',
 'concentration_east_cambridge': '',
 'concentration_cambridgeport': '',
 'concentration_north_west': '',
 'highci_mid_cambridge': '',
 'highci_east_cambridge': '',
 'highci_cambridgeport': '',
 'highci_north_west_cambridge': '',
 'lowci_mid_cambridge': '',
 'lowci_east_cambridge': '',
 'lowci_cambridgeport': '',
 'lowci_north_west_cambridge': ''}

In [6]:
#confirming json_data is NOT a df yet
type(json_data)

list

In [11]:
#converting json_data to df
Cambridge_df = pd.DataFrame(json_data)

In [12]:
type(Cambridge_df)

pandas.core.frame.DataFrame

In [13]:
Cambridge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          253 non-null    object
 1   mwra_concentration            253 non-null    object
 2   mwra_7dayaverage              253 non-null    object
 3   concentration_mid_cambridge   253 non-null    object
 4   concentration_east_cambridge  253 non-null    object
 5   concentration_cambridgeport   253 non-null    object
 6   concentration_north_west      253 non-null    object
 7   highci_mid_cambridge          253 non-null    object
 8   highci_east_cambridge         253 non-null    object
 9   highci_cambridgeport          253 non-null    object
 10  highci_north_west_cambridge   253 non-null    object
 11  lowci_mid_cambridge           253 non-null    object
 12  lowci_east_cambridge          253 non-null    object
 13  lowci_cambridgeport           253 non-null    object
 14  lowci_north_west_cambridge    253 non-null    object
dtypes: object(15)
memory usage: 29.8+ KB

In [14]:
Cambridge_df.describe()

,date,mwra_concentration,mwra_7dayaverage,concentration_mid_cambridge,concentration_east_cambridge,concentration_cambridgeport,concentration_north_west,highci_mid_cambridge,highci_east_cambridge,highci_cambridgeport,highci_north_west_cambridge,lowci_mid_cambridge,lowci_east_cambridge,lowci_cambridgeport,lowci_north_west_cambridge
count,253,253,253,253,253,253,253,253,253,253,253,253,253,253,253
unique,253,216,197,28,30,24,30,28,30,24,30,28,30,24,30
top,2021-03-03T00:00:00.000,,257,,,,,,,,,,,,
freq,1,10,5,226,224,228,224,226,224,228,224,226,224,228,224

In [ ]:
'''
For my own review!

Column Definitions:
Date - sample date for 24 hour composite sample
MWRA_Concentration - Normalized SARS-CoV2 RNA Copies per ML collected during sampling period.
MWRA_7DayAverage - 7 day rolling average for Normalized SARS-CoV2 RNA Copies per ML collected during sampling period.
Concentration_* - Normalized SARS-CoV2 RNA Copies per ML collected during sampling period.
highci_* - Upper Limit on Confidence Interval for Normalized SARS-CoV2 RNA Copies per ML collected during sampling period.
lowci_* - Lower Limit on Confidence Interval for Normalized SARS-CoV2 RNA Copies per ML collected during sampling period.
* means there are multiple columns with this prefix which share the same definition - Nantawat

A refresher on confidence interval limits - https://bit.ly/3vtuI7h
'''

In [16]:
Cambridge_df.head()

,date,mwra_concentration,mwra_7dayaverage,concentration_mid_cambridge,concentration_east_cambridge,concentration_cambridgeport,concentration_north_west,highci_mid_cambridge,highci_east_cambridge,highci_cambridgeport,highci_north_west_cambridge,lowci_mid_cambridge,lowci_east_cambridge,lowci_cambridgeport,lowci_north_west_cambridge
0,2020-10-01T00:00:00.000,,31,,,,,,,,,,,,
1,2020-10-02T00:00:00.000,34,31,,,,,,,,,,,,
2,2020-10-03T00:00:00.000,,31,,,,,,,,,,,,
3,2020-10-04T00:00:00.000,,31,,,,,,,,,,,,
4,2020-10-05T00:00:00.000,38,30,,,,,,,,,,,,