In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from functools import reduce

In [2]:
cases_by_county = 'Biobot Data/cases_by_county.csv'
cases_county = pd.read_csv(cases_by_county, parse_dates=['date'])

In [3]:
cases_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     15000 non-null  datetime64[ns]
 1   rolling_average_cases_per_100k_centered  15000 non-null  float64
 2   region                                   15000 non-null  object
 3   state                                    15000 non-null  object
 4   county_fips_code                         15000 non-null  int64
 5   county_name                              15000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 703.2+ KB

In [4]:
cases_by_region = 'Biobot Data/cases_by_region.csv'
cases_region = pd.read_csv(cases_by_region, parse_dates=['date'])

In [5]:
cases_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 3 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     2500 non-null   datetime64[ns]
 1   rolling_average_cases_per_100k_centered  2500 non-null   float64
 2   region                                   2500 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 58.7+ KB

In [6]:
wastewater_by_county = 'Biobot Data/wastewater_by_county.csv'
wastewater_county = pd.read_csv(wastewater_by_county, parse_dates=['sampling_week'])

In [7]:
wastewater_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   sampling_week                             1267 non-null   datetime64[ns]
 1   normalized_concentration_rolling_average  1267 non-null   float64
 2   population                                1267 non-null   object
 3   region                                    1267 non-null   object
 4   state                                     1267 non-null   object
 5   county_fips_code                          1267 non-null   int64
 6   county_name                               1267 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 69.4+ KB

In [8]:
wastewater_by_region = 'Biobot Data/wastewater_by_region.csv'
wastewater_region = pd.read_csv(wastewater_by_region, parse_dates=['sampling_week'])

In [9]:
wastewater_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   sampling_week                             315 non-null    datetime64[ns]
 1   normalized_concentration_rolling_average  315 non-null    float64
 2   population                                315 non-null    object
 3   region                                    315 non-null    object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 10.0+ KB

In [ ]:
cases_data_frames = [cases_county, cases_region]
wastewater_data_frames = [wastewater_county, wastewater_region]

In [12]:
county_merged = cases_county.reset_index().merge(wastewater_county, on='region')

In [13]:
county_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6077000 entries, 0 to 6076999
Data columns (total 13 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   index                                     int64
 1   date                                      datetime64[ns]
 2   rolling_average_cases_per_100k_centered   float64
 3   region                                    object
 4   state_x                                   object
 5   county_fips_code_x                        int64
 6   county_name_x                             object
 7   sampling_week                             datetime64[ns]
 8   normalized_concentration_rolling_average  float64
 9   population                                object
 10  state_y                                   object
 11  county_fips_code_y                        int64
 12  county_name_y                             object
dtypes: datetime64[ns](2), float64(2), int64(3), object(6)
memory usage: 649.1+ MB

In [15]:
county_merged.head(100)

,index,date,rolling_average_cases_per_100k_centered,region,state_x,county_fips_code_x,county_name_x,sampling_week,normalized_concentration_rolling_average,population,state_y,county_fips_code_y,county_name_y
0,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-05-13,124.219023,200000-500000,IN,18089,Lake
1,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-05-20,86.285771,200000-500000,IN,18089,Lake
2,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-05-27,66.981292,200000-500000,IN,18089,Lake
3,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-06-03,21.675411,200000-500000,IN,18089,Lake
4,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-06-17,43.899843,200000-500000,IN,18089,Lake
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-08-19,83.538659,1000000-2000000,MN,27053,Ramsey
96,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-08-26,85.349380,1000000-2000000,MN,27053,Ramsey
97,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-09-02,82.404684,1000000-2000000,MN,27053,Ramsey
98,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-09-09,80.383246,1000000-2000000,MN,27053,Ramsey
99,0,2020-01-26,0.0,Midwest,IN,18089,Lake,2020-09-16,79.509999,1000000-2000000,MN,27053,Ramsey

In [16]:
county_merged['sampling_week'].isnull().sum()

0

In [17]:
county_merged['sampling_week'].nunique()

67

In [20]:
county_merged['sampling_week'].dtype

dtype('<M8[ns]')

In [21]:
county_merged['sampling_week'].shape

(6077000,)

In [22]:
def blank_check(df):
    ''' A method to check my column cells from a pandas DataFrame for whitespace blanks.'''
    return dict(zip(df.columns, [(df[x] == '').sum() for x in df.columns]))

In [23]:
blank_check(county_merged)

{'index': 0,
 'date': 0,
 'rolling_average_cases_per_100k_centered': 0,
 'region': 0,
 'state_x': 0,
 'county_fips_code_x': 0,
 'county_name_x': 0,
 'sampling_week': 0,
 'normalized_concentration_rolling_average': 0,
 'population': 0,
 'state_y': 0,
 'county_fips_code_y': 0,
 'county_name_y': 0}

In [ ]:
county_merged.set_index('sampling_week', drop=True)

In [24]:
county_merged['date'].nunique()

500

In [28]:
test_df = county_merged.set_index('date', drop=True)

AttributeError: 'DataFrameGroupBy' object has no attribute 'info'